p{
    color: red;
    font-size: 3rem;
    width:100px;
    height: 200px;

    font: 100rem;
    font-weight: 400;
<<<<<<< HEAD

}

p::after{
    content: 'Hello';
=======
}

p:before{
    content:'World';
>>>>>>> feature
}